<div ng-controller="tb-controller">
    Display: <input type="text" ng-model="inputDisplay" />
    Name: <input type="text" ng-model="inputName" />
    <button ng-click="addPlayer(inputName,inputDisplay)" class="btn btn-primary">Add Player</button>
    <button ng-click="initTournament()" class="btn btn-primary">Run Tournament</button>
        <br />
	{{tournamentSize}}
	<ul>
		<li ng-repeat="round in rounds">
			<ul>
				<li ng-repeat="match in round.matches">
					Round: {{match.round}}, Match: {{match.match}}, Next Match #: {{match.nextMatch}}
					<ul>
						<li ng-repeat="player in match.matchPlayers" ng-click="promotePlayer(player,match,round)">
							Player: {{player.display}}
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>