Display: <input type="text" ng-model="inputDisplay" />
Name: <input type="text" ng-model="inputName" />
Seed: <input type="text" ng-model="seedValue" />
<button ng-click="addPlayer(inputName,inputDisplay,seedValue)" class="btn btn-primary">Add Player</button>

    <br />
{{tournamentSize}}
<br />

<ul data-as-sortable="players.dragControlListeners" ng-model="players">
	<li ng-repeat="player in players" data-as-sortable-item>
		{{player.name}} <div data-as-sortable-item-handle style="display:inline-block;"><i class=" fa-arrows"></i></div>
	</li>
</ul>