* {
  margin: 0;
  
}
* a:hover{color:#ededed;}
* a{color:black;}
* {
	margin: 0;
}
html, body {
	height: 100%;
	color:#44424A;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	background:#ffffff;
  	color:black;
}
h2{
	font-family: Ubuntu;
}

ul{list-style: none; padding:0px;}
.wrap{
	height:100%;
}
.contents{background-color:white; border-radius:15px; padding:20px;}
.menu{background-color: #2C3E50;}
@media screen and (min-width: 991px) {
	.menu{
		max-width: 300px;
		height:100%;
		position:fixed;
	}
	.contents{margin-left:200px;}
}
@media screen and (max-width: 990px) {
	.menu{
		min-height:50px;
		width:100%;
	}
}

.menu a{
	/*color:black;*/
}
.menu a:hover{
	text-decoration: none;
	
}
.active{
	background-color: #FC4349;
	color:white;
}
/*.menu li:hover{background-color:#2A2C2B;}*/
.menu li a{color:white;}
.sub-menu-item{
	background-color:#314559!important;
	padding-left:25px;
	padding-right:25px;
}
.contents{padding:55px;padding-top:30px;}