* {
  margin: 0;
  
}
* a:hover{color:#ededed;}
* a{color:black;}
* {
	margin: 0;
}
html, body {
	height: 100%;
	color:#44424A;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	background:#ffffff;
  	color:black;
}
h2{
	font-family: Ubuntu;
}

ul{list-style: none; padding:0px;}
.wrap{
	height:100%;
}
.contents{background-color:white; border-radius:15px; padding:20px;}
.menu{background-color:white;}
@media screen and (min-width: 991px) {
	.menu{
		max-width: 300px;
		padding:25px;
		/*border-right:1px solid black;*/
		height:100%;
		position:absolute;
	}
	.contents{margin-left:200px;}
}
@media screen and (max-width: 990px) {
	.menu{
		/*max-width: 50px;*/
		/*border-right:1px solid black;*/
		min-height:50px;
		width:100%;
		/*border-bottom:1px solid black;*/
	}
	.menu-list li{
		/*display: inline;
		list-style-type: none;*/
		padding-right: 20px;
	}
	/*.contents{padding-top:50px;}*/
}

.menu a{
	/*color:black;*/
}
.menu a:hover{
	text-decoration: none;
	
}
.menu li{
	padding-left:2px;
	padding-right: 15px;
}
/*.menu li:hover{background-color:#2A2C2B;}*/
.menu li a:active{color:#DC3522;}
.contents{padding:55px;padding-top:30px;}

.mosaicflow__column { float:left; } .mosaicflow__item img { display:block; width:100%; height:auto; }